RewriteEngine On

    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f 
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
    RewriteCond %{REQUEST_URI} !index
    # If the requested resource doesn't exist, use index.html
RewriteRule ^ index.html